.header-estatico {
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background-color: #9163c5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

/* logo */
.logo {
  margin-left: 2%;
}

/* nombre */
.tienda {
  font-size: 2rem;
  margin-left: 15%;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    margin-right: 40%;
    color: white;
  }
  to {
    margin-left: 40%;
    margin-right: 0%;
  }
}
/* carro de compras*/
.carro {
  margin-right: 2%;
}

/* menu */
.bg-color {
  background-color: cadetblue;
}

.collapse {
  display: flex;
}

.nav-link {
  margin-left: 5rem;
  transition: 1s linear;
}

.nav-link:hover {
  transform: scale(1.5);
  background-color: #397274;
  border-radius: 20px;
}

/* footer */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 22px;
  background-color: #9163c5;
  font-size: 1rem;
  color: black;
  padding-left: 2%;
  padding-right: 2%;
}

/* links en el footer */
footer div div a {
  text-decoration: none;
  color: black;
}

.footer-menu {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.footer-contacto {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.footer-redes {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.footer-derechos {
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: flex-start;
}

.footer-logos {
  grid-area: 2/3/3/4;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  #carrousel {
    display: none;
  }
}
/* article */
.article-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article-uno {
  grid-area: 1/1/2/2;
}

.article-dos {
  grid-area: 1/2/2/3;
}

.article-tres {
  grid-area: 1/3/2/4;
}

.article-cuatro {
  grid-area: 1/4/2/5;
}

/* media queries en article para mobile */
/* section productos home */
h2 {
  display: flex;
  justify-content: center;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.home-item-1 {
  grid-area: 1/1/2/2;
  width: 75%;
}

.home-item-2 {
  grid-area: 1/2/2/3;
  width: 75%;
}

.home-item-3 {
  grid-area: 1/3/2/4;
  width: 75%;
}

.home-item-4 {
  grid-area: 1/4/2/5;
  width: 75%;
}

/*medias queries - mobile*/
@media only screen and (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
/* fin section productos home */
/* section politicas */
.texto-politicas .section-politicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-politicas {
  margin-left: 45%;
}

/*  fin section politicas */
.homenaje-literario {
  font-family: "Source Serif 4", sans-serif;
  margin: 2rem;
}

section ol li {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
