/* Error: expected "{".
 *    ,
 * 25 |   @media only screen (min-width: 320px) and (max-width: 760px){ .article-container {display:grid; grid-template-columns: 2fr 2fr}}
 *    |                      ^
 *    '
 *   scss\components\_article.scss 25:22  @import
 *   scss\style.scss 5:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 25 \2502    @media only screen (min-width: 320px) and (max-width: 760px){ .article-container {display:grid; grid-template-columns: 2fr 2fr}}\d\a    \2502                       ^\a    \2575 \a   scss\\components\\_article.scss 25:22  @import\a   scss\\style.scss 5:9                  root stylesheet';
}
