/*article*/
.article-container{
    background-image: url(..//multimedia/fondo/estrellas.jfif);
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    }

    .boton-article{transition: linear;}
    .boton-article:se
