/*section como comprar*/

.homenaje-literario{
font-family: 'Source Serif 4', sans-serif;
color: #00bfd8 ;
margin: 1%;}

section ol li{
margin-bottom: 1%;
}
.section-comocomprar{ 
background-color: black;
margin-bottom: 1%;}