/*section home*/

.card-container{ 
    display: flex;
    justify-content: space-evenly;
}
/*hover a tarjetas de productos*/
.card{transition: 1s linear; scale: 0.50;
    width: 25%;
    padding: 20px 10px;
    border: 1px solid grey;
    border-radius: 20px}
.card:hover{ 
    transform: scale(1.03);
    z-index: 3;
    border: 2px solid black}

   
h2{ display: flex;justify-content: center}

.section-home-container{ background-color: black;margin-bottom: 1%;}