 /* section politicas */


.section-politicas{
  background-color: black;
  margin-bottom: 1%;
 
}

.politicas-container{ display: flex;
  align-items: center;
margin-left: 5%;
margin-right: 5%;
}

.politicas-img{ border-radius: 15%;}

.politicas-text{margin-left: 2%;
color: #00bfd8;}

  