 /* section politicas */

 .texto-politicas  .section-politicas{
    display: flex;
    justify-content: center;
    align-items: center;}
    
    .imagen-politicas{ margin-left: 45%;
    
    }
    
      /*  fin section politicas */